<header style="background-color: #171c1a">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="partner-header">
          <a
            href="Javascript:void();"
            routerLink=""
            routerLinkActive="link-active"
          >
            <img src="assets/images/brand-logo.png" class="img-fluid"
          /></a>
        </div>
      </div>
    </div>
  </div>
</header>

<section class="contact-sec bg-black custom-padding partner-height">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="contact-content text-center">
          <h2 class="heading yellow">Partner Form Detail</h2>
          <!-- <p class="para black pt-3"> Want To Impact The Travel Industry And Be A Part Of Revolution? <br /> partner With Us Now! </p> -->

          <div class="table-responsive">
            <table width="100%">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Date Of Birth</th>
                  <th>Country Name</th>
                  <th>Email Address</th>
                  <!-- <th>Your Message</th> -->
                  <th> Action </th>
                </tr>
              </thead>
  
              <tbody>
                <tr *ngFor="let data of tripList">
                  <td> {{data?.name}} </td>
                  <td> {{data?.dob}} </td>
                  <td> {{data?.country}} </td>
                  <td style="max-width: 300px; word-break: break-all;"> {{data?.email_id}} </td>
                  <!-- <td> {{data?.user_details?.contact_details?.your_message}} </td> -->
                  <td style="padding: 10px 10px 14px 10px; text-align: center;"> <a href="Javascript:void(0);" [routerLink]="['/trip-detail',this.data.partner_id]" class="view-btn"> View </a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>

<!-- Modal -->
<!-- <div class="modal" id="test1" tabindex="-1" aria-hidden="true" role="dialog" [ngStyle]="{'display':display}">
    <div class="modal-dialog  modal-dialog-centered modal-sm" style="max-width:300px; margin-top: calc(100vh - 110vh);"> 
      <div class="modal-content dialog text-center card-wrap">
        <div class="modal-body heading-mes">
          <div class="text-center"> 
            <p style="font-weight: 600; text-transform: capitalize;">{{message}}</p> 
          </div> 
             
          <div class="row">   
            <button type="submit" (click)="hidePop()" class="btn btn-default mx-auto">ok</button>  
          </div>  
        </div> 
      </div> 
    </div>
  </div> -->
