





<section class="get-the-app-sec " id="download">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-xl-6 d-flex justify-content-left align-items-center">
                <div class="get-app-left w-100">
                    <h2 class="heading yellow"> Get The App </h2>
                    <p class="para pt-3"> Triend is the next generation travel community you have been waiting for. We don’t just focus on locations,
                        we focus on discovering those unique experiences around the globe. Whether you are a traveller looking to explore or a journey creator 
                        looking to promote travel and make some dollar, Triend is a new all-inclusive travel platform from the people for the people. </p>                    
                    <!-- <ul>
                        <li> <a href="#"> <img src="assets/images/get-app-android.png" class="img-fluid" alt="Play Store"> </a> </li>
                        <li> <a href="#"> <img src="assets/images/get-app-apple.png" class="img-fluid" alt="App's Store"> </a> </li>
                    </ul> -->
                    <h4 class="white"> Coming Soon ...</h4>
                </div> <!-- end of get-app-left-->
            </div> <!-- end of col-md-6 -->

            <div class="col-12 col-xl-6">
                <div class="get-app-right text-center">
                    <img src="assets/images/get-app-mobile.png" class="img-fluid" alt="Mobile-Mockup">
                </div> <!-- end of get-app-right -->
            </div> <!-- end of col-md-6 -->
        </div>
    </div>


</section>