





<footer class="custom-padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-4 order-3 order-lg-1">
                <div class="footer-left">
                    <!-- <ul>
                        <li> <a href="#"> Terms & Condition </a> </li>
                        <li> <a href="#"> Privacy Policy </a> </li>
                    </ul> -->
                    <p class="">triend travel Copyright 2020, all rights reserved </p>
                    <p style="color: #A7A7A7;" class="m-0">Crafted with <span style="color: red;">❤</span> by <a href="https://siyatechventures.com/" style="color: #A7A7A7;" target="_blank">STV </a></p>
                </div> <!-- end of footer-left -->
            </div> <!-- end of col-lg-4 -->

            <div class="col-12 col-lg-4 order-1 order-lg-2">
                <div class="footer-center text-center">
                    <img src="assets/images/brand-logo-2.png" class="img-fluid" alt="Brand-logo">
                </div> <!-- end of footer-center -->
            </div> <!-- end of col-lg-4 -->

            <div class="col-12 col-lg-4 order-2 order-lg-3">
                <div class="footer-right">
                    <ul>
                        <li class="ml-0"> <span> Social Media </span> </li>
                        <li> <a href="https://web.facebook.com/TriendTravel/?_rdc=1&_rdr"> <img src="assets/images/f-icon-fb.png" alt="Facebook Icon"> </a> </li>
                        <li> <a href="https://twitter.com/triendtravel"> <img src="assets/images/f-icon-twitter.png" alt="Twitter Icon"> </a> </li>
                        <li> <a href="https://www.instagram.com/triendtravel/?hl=en"> <img src="assets/images/f-icon-insta.png" alt="Instagram Icon"> </a> </li>
                        <!-- <li> <a href="#"> <img src="assets/images/f-icon-youtube.png" alt="Youtube Icon"> </a> </li> -->
                        <li> <a href="https://www.linkedin.com/company/the-beatstravellers"> <img src="assets/images/f-icon-linkedin.png" alt="Linkedin Icon"> </a> </li>
                    </ul>

                </div> <!-- end of footer-right -->
            </div> <!-- end of col-lg-4 -->
        </div>
    </div>
</footer>