<header class="bg-black">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="partner-header">
                    <a href="/home" routerLinkActive="link-active"> <img src="assets/images/brand-logo.png" class="img-fluid"></a>
                </div>
            </div>
        </div>
    </div>
</header>




            <!-- Second Section -->
<section class="second-section custom-padding" id="about-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mb-0 mb-lg-5" id="about">
                <div class="about-us-section">
                    <div class="row">
                        <div class="col-2 col-md-1">
                            <div class="about-heading" style="max-height: 200px;">
                                <span class="bg-black"> </span>
                                <h2 class="black">Our Ethos</h2>
                            </div>
                        </div>

                        <div class="col-10 col-md-11 col-lg-5">
                            <div class="amout-img">
                                <img src="../../../assets/images/Image 7.webp" class="img-fluid" alt="About-Us-Image" />
                            </div>
                        </div>

                        <div class="col-12 col-lg-6 mt-5 mt-lg-0 d-flex align-items-center justify-content-left">
                            <div class="about-content">
                                <h2 class="heading yellow">Circular Travel                                </h2>
                                <p class="para">From day one here at Triend our mission has been to create a circular travel Ecosystem. What is circular travel you ask? It’s a new world where the traditional travel system changes, where the money from our pocket is paid forward into someone else's. and we stop putting our own hands in our own pockets but back into each other’s. 
                                </p>
                                <h2 class="heading yellow"> Our Mission</h2>
                                <p class="para">Our mission is to offer a platform where travellers of all shapes and sizes can find their community with personalised travel for them. Whether you travel for music, sustainability, wellness - whatever, everyone travels for different reasons and you don’t have to own a backpack to be a traveller. 
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 mt-5" id="what">
                <div class="what-we-section">
                    <div class="row">
                        
                        <div class="col-12 col-lg-6 mb-5 mb-lg-0 d-flex align-items-center justify-content-left">
                            <div class="what-we-content">
                                <h2 class="heading yellow">Sustainable Future
                                </h2>
                                <p class="para">We all know the world has been turned upside down in the past year. Will it go back to the way it was before? Is this a bad thing? As far as travel is concerned no, we don’t think so. Now is the time we realise a more open, sustainable future and a new community of travellers who want to share their experiences. Whether you are a digital nomad, student traveller, music festival lover, yoga instructor? It doesn’t matter because we know you have a story to tell. Triend is the new place to do this. A platform circled around experiences and people not just locations.. 
                                </p>
                            </div>
                        </div>
                        <!-- end of col-md-6 -->

                        <div class="col-10 col-md-11 col-lg-5">
                            <div class="what-we-img">
                                <img src="../../../assets/images/Image 5.webp" class="img-fluid" alt="what-we-Image" />
                            </div>
                        </div>

                        <!-- end of col-md-5 -->
                        <!-- end of col-1 -->
                    </div>
                    <!-- end of row -->
                </div>
            </div>
            <!-- end of col-12 -->
        </div>
        <!-- end of row -->
    </div>
                            <div class="about-us-section">
                            <div class="row">
                                <div class="col-2 col-md-1">
                                </div>
        
                                <div class="col-10 col-md-11 col-lg-5">
                                    <div class="amout-img">
                                        <img src="../../../assets/images/Image 2.webp" class="img-fluid" alt="About-Us-Image" />
                                    </div>
                                </div>
        
                                <div class="col-12 col-lg-6 mt-5 mt-lg-0 d-flex align-items-center justify-content-left">
                                    <div class="about-content">
                                        <h2 class="heading yellow">Your Voice</h2>
                                        <p class="para">Spending hours searching through thousands of written blog posts are over. We believe everyone has a voice and with the world opening up there should be a new beginning for travel guides. Travellers need a platform with authentic, peer reviewed virtual tips and experiences from like minded people with similar interests. Maybe you will meet them, maybe you won’t. Whatever happens, travel should be in the hands of the people.
                                        </p>
                                        <h2 class="heading yellow">The Triend Revolution</h2>                               
                                        <p class="para">If all this sounds good to you then join our Triend revolution, support, share and help other travellers. Help them help you and keep enjoying the experiences this planet has to offer (as soon as we can!)
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

</section>

